@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
body {
  font-family: "Lucida Console", Monaco, monospace;
  background-color: #6F80AD;
}

#chat-window {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 25em;
  min-height: 35em;
  max-width: 30em;
  background-color: #394259;
  color: #394259;  
}

#chat-banner {
  text-align: center;
  color: white;
}

#chat-banner h1 {
  margin: 0;
}

#chat-banner span {
  font-size: 0.80em;
}

#chat-text {
  padding: 1em;
  height: 100%;
  background-color: #5F6D94;
  overflow-y: auto;
}

#chat-text p {
  margin: 0; padding: 0;
}

#chat-text p span.person {
  color: grey;
}

#chat-text p span.text {
  color: #394259;
}

#chat-input-window {
  background-color: #394259;
  text-align: center;
}

#chat-input {
  width: 95%;
  background-color: #394259;
  border: 1px solid #394259;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #394259;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #394259;
}